
h1{font-weight:bold;text-align:center;}
div{text-align: center;}
span.class1{color:blue;text-decoration-line: underline;}
p.c1{font-weight:bold;text-align:center;}
a{color:blue;text-decoration-line: underline;}
span.i{font-style: italic;}
span.bi{font-weight: bold;font-style: italic;}
span.b{font-weight:bold}
p.c2{font-weight:bold}




