.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    
    gap:3px;
}
.navbar{
    background-color: rgba(2, 161, 2, 0.3);
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 4;
}
.section1{
    background-color: rgba(216, 112, 147,0.3);
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    grid-row-start: 2;
    grid-row-end: 4;
    

}
.section2{
    background-color: rgba(198, 26, 26, 0.3);
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
}
.section3{
    background-color: rgba(255, 69, 0,0.3);
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}
.section4{
    background-color: rgba(72, 72, 239, 0.3);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}
