.head{
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    height: 40px;
    
}
.head div.dots input{
    background-color: white;
    height: 100%;

}
.head div.other input{
    height:100%;

}
.head div.other input:nth-child(1){
    background-color: white;
    border: hidden;
    border-bottom: 1px solid darkblue;
    color: darkblue;
    font-weight: bold;
}
.head div.other input:nth-child(2){
    background-color: rgb(122, 201, 175);
    color: white;
    font-weight: bold;
    border: hidden;
    border-bottom: 1px solid darkblue;

}
div.head div.other select{
    background-color: darkblue;
    border: hidden;
    color: white;
}
div.logo{
    display: flex;
    
}
div.logo div{
    display: flex;
    
}
div.logo div button{
    width: 19%;
    font-size: 11px;
    background-color: white;
    border: hidden;
    color: darkblue;
    
}
div.logo div button:nth-child(1){
    border-left: 1px solid lightgrey;
}
div.big{
    display: flex;
    justify-content: space-evenly;
}
div.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
div.octobre{
    
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 1px solid gray;
    width: 510px;
    margin-left: 20px;
}
div.novembre{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 510px;
    
    margin-left: 20px;
    

}
div.actu input{
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(36, 36, 149);
    border: hidden;
    width: 232px;
}
div.supactu{
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    
    justify-content: space-between;
}

div.octobre p:nth-child(1),div.novembre p:nth-child(1){
    color:grey;

}
div.octobre p:nth-child(2),div.novembre p:nth-child(2){
    color: rgb(135, 135, 239);
    font-weight: bold;
}
div.more{
    display: flex;
    padding-left: 230px;
}
div.more input{
    background-color: rgb(62, 62, 159);
    color: white;
    font-weight: bold;
    height: 30px;
    border: hidden;
    border-radius: 10px;
}
div.im3{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    
}
div.im3 div img{
    width: 200px;
}
div.grid{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    border-right: 1px solid gray;
    border-left:1px solid grey;
    background-color: white;
}
div.big{
    background-color: rgb(221, 251, 240);
    padding-right: 10px;
}
div.part1{
    width: 700px;
}
div.direct button{
    background-color: rgb(142, 210, 189);
    border: hidden;
    color:white;
    width: 233px;
}

div.part2{
   margin-top: 60px;
    margin-left: -100px;
    
}
div.direct {
    padding-bottom: 20px;
}
div.couch{
    padding-bottom: 20px;
}
div.white{
    
    color:grey;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    height: 90px;
    margin-bottom: 20px;
}
div.unep{
    padding-bottom: 20px;
}
