*{
    font-family: Arial, Helvetica, sans-serif;
   
}
div.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-left: 90px;
    padding-right: 90px;
    
    
}
div.bachelor{
    display: flex;
}

div.bachelor div{
    align-self: center;
}
div.bachelor div:nth-child(2) select{
    font-weight: bold;
    border: 1px solid white;
}
div.bachelor div:nth-child(2) select:nth-child(2){
    border-bottom: 2px solid rgb(96, 155, 222);
}
div.apply button:nth-child(1){
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(96, 155, 222);
    padding: 8px;
    border-radius: 5px;
}
div.apply button:nth-child(2){
    font-size: bold;
    background-color:rgb(96, 155, 222) ;
    color:white;
    border: hidden;
    padding: 8px;
    border-radius: 5px;
}
div.green{
    
    font-size: 22px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(168, 243, 168);
    width: fit-content;
    padding: 6px;
    margin-bottom: 9px;
}
div.study{
    display: flex;
    justify-content: space-between;
}
.labels{
    font-size: 14px;
    font-weight: bold;
    
}
div.sub{
    padding: 5px;
    
}
input,select{
    margin-top: 7px;
    margin-bottom:7px ;
}
.must1 {
    width: 180%;
    padding: 8px;
    border-radius: 7px;
}
.must2{
    width: 180%;
    padding: 8px;
    border-radius: 7px;

}
.must3{
    width: 105%;
    padding: 8px;
    border-radius: 7px;

}
div.ev{
    background-color: rgb(245, 243, 243);
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
button.sub{
    font-size: bold;
    background-color:rgb(96, 155, 222) ;
    color:white;
    border: hidden;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    margin-left: 86%;
}